.hero-image {
    width: 90%!important;
}

.main-slider {
    height: 480px!important;
}

#at-custom-content-3 .widget-wrap {
	background-color: #00000000!important;
}

.yp-widget.sharekah-widget.widget-area-full:not(.yp-widget.sharekah-widget.widget-area-full ~ .yp-widget.sharekah-widget.widget-area-full) {
	background-color: #4bb5e7 !important;
}

#page .widget .section-title {
	text-align: right !important;
}

#at-contact-info-3 {
    position: relative; /* Reference for absolute positioning */
}

#at-contact-info-3::before,
#at-contact-info-3::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    z-index: -1; /* Places them behind the text */
}

#at-contact-info-3::before {
    width: 170px; /* Bigger circle */
    height: 170px;
    background-color: #5dbce9ad;
    top: 50px; /* Adjust position */
    left: 94%; /* Shift it slightly */
    transform: translateX(-50%);
}

#at-contact-info-3::after {
    width: 135px; /* Smaller circle */
    height: 135px;
    background-color: #93a0ac7d;
    top: 28px; /* Moves it slightly lower */
    left: 88%; /* Offset from the first circle */
    transform: translateX(-50%);
}

/*  Media Query for Mobile (Under 543px) */
@media (max-width: 543px) {
    #at-contact-info-3::before {
        top: 35px; 
        left: 105%; /* Move blue circle more to the right */
    }
}
